*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --main-bg-color: #1f2937;
    --main-fg-color: white;
    --active-bg-color: #3882f6;
    --active-fg-color: white;
    --secondary-bg-color: #e5e7eb;
    --secondary-fg-color: #1f2937;
}

header {
    display: flex;
    align-items: center;
}

header nav {
    display: flex;
    gap: 20px;
}

header a {
    text-decoration: none;
}

header,
.hero,
header a {
    background-color: var(--main-bg-color);
    color: var(--main-fg-color);
    display: flex;
    justify-content: space-between;
}

header,
section,
footer {
    padding: 40px 300px;
}

.img-placeholder {
    background-color: gray;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

button {
    background-color: var(--active-bg-color);
    color: var(--active-fg-color);
    border: none;
    border-radius: 8px;
    padding: 8px 24px;
    font-size: 1.2rem;
    cursor: pointer;
}

.hero-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.hero-text h2 { 
    font-size: 3rem;
}

.hero-text button {
    align-self: flex-start;
}

.illustrations {
    display: flex;
    gap: 40px;
    justify-content: center;
    margin-bottom: 40px;
    flex-wrap: wrap;
}

.illustration {
    width: 220px;
    height: 220px;
    text-align: center;
}

.illustration-img {
    border: 4px solid var(--active-bg-color);
    border-radius: 16px;
    width: 100%;
    height: 100%;
    aspect-ratio: 1 / 1;
}

.heading {
    text-align: center;
    margin-bottom: 40px;
    font-size: 2rem;
}

.testimonials {
    display: flex;
    background-color: var(--secondary-bg-color);
    justify-content: center;
    padding: 200px 300px;
}

.testimonial {
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 20px;
}

.quote {
    font-size: 2rem;
    font-weight: 100;
}

.author {
    align-self: flex-end;
}

.actions {
    padding: 100px 300px;
}

.action.sign-up {
    background-color: var(--active-bg-color);
    border-radius: 16px;
    padding: 40px;
    display: flex;
    justify-content: space-around;
    color: white;
}

.action.sign-up button {
    border: 2px solid white;
}

footer {
    background-color: var(--main-bg-color);
    color: var(--main-fg-color);
    display: flex;
    justify-content: center;
    align-items: center;
}
