*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --main-bg-color: #1f2937;
    --main-fg-color: white;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

header nav {
    display: flex;
    gap: 20px;
}

header a {
    text-decoration: none;
}

header,
.hero,
header a {
    background-color: var(--main-bg-color);
    color: var(--main-fg-color);
}
